.icon-container {
  border-radius: 10%;
  background-color: #25214f;
  padding: 10px;
}

ion-button {
  --background: #fee178;
  --color: #25214f;
  --background-activated: #25214f;
  --color-activated: #fff;
  --background-hover: #25214f;
  --color-hover: #fff;
}

ion-toggle {
  --height: 15px;
  --background-checked: #25214f;
}

.inner-icon {
  // font-size: 20px;
  color: #fee178;
}

span {
  font-family: Mulish !important;
  // font-size: 15px !important;
  display: flex !important;
  align-self: center !important;
}
ion-content {
  font-family: Mulish !important;
  // --padding-end: 20px;
  // --padding-start: 20px;
}

.items {
  padding-left: 20px;
  font-size: 20px;
  width: 100%;
}

ion-popover {
  --width: 22.5rem;
}
.userImg {
  border-radius: 50% !important;
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
}
