.icon-container {
  border-radius: 10%;
  background-color: #25214f;
  padding: 10px;
}

ion-button {
  --background: #d9ac0b;
  --color: #25214f;
  --background-activated: #25214f;
  --color-activated: #fff;
  --background-hover: #25214f;
  --color-hover: #fff;
}

ion-toggle {
  --height: 15px;
  --background-checked: #25214f;
}

.inner-icon {
  font-size: 30px;
  color: white;
}
.inBoth {
  font-family: Mulish !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0.5rem;
  color: white;
  background: #25214f;
  border-radius: 10px;
  padding: 10px;
}

span {
  font-family: Mulish !important;
  // font-size: 15px !important;
  display: flex !important;
  align-self: center !important;
}
ion-content {
  font-family: Mulish !important;
  // --padding-end: 20px;
  // --padding-start: 20px;
}

.items {
  margin: auto;
  text-align: left;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}

ion-popover {
  --width: 22.5rem;
}
.userImg {
  border-radius: 50% !important;
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
}
.document {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  padding: 20px;
  margin: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border: 1px solid #c5c1c1;
  align-items: center;
  color: #25214f;
  font-weight: 600;
  margin-top: 30px;
}
.icn {
  font-size: 25px;
  color: #25214f;
}
.mod {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.doc {
  background-color: white;
  box-shadow: 0 10px 6px -6px #777;
  width: 90vw;
  max-height: 80vh;
  max-width: 500px;
  padding: 30px 10px;
  padding-bottom: 50px;
  position: relative;
  overflow-y: auto;
}
.head {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
