<ion-content>
  <section style="margin-top: 30px; background-color: #25214f">
    <app-add-fund (exit)="close()" *ngIf="show"></app-add-fund>

    <section>
      <div
        style="
          padding: 20px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #25214f;
          color: #fff;
          padding: 20px 30px;
        "
      >
        <div style="border-radius: 50%; margin: 10px 0">
          <ion-img
            [src]="photo"
            style="width: 70px; height: 70px; margin: auto; border-radius: 50%"
            class="userImg"
          ></ion-img>
        </div>
        <span>{{ user.firstName }} {{ user.lastName }}</span>

        <ion-button id="details" size="small" (click)="show = true"
          >Show Details</ion-button
        >
      </div>
    </section>

    <section
      style="
        padding: 0 10px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        background-color: white;
        padding-top: 60px;
      "
    >
      <div
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        [routerLink]="['change-password']"
      >
        <div class="icon-container">
          <ion-icon name="lock-closed-sharp" class="inner-icon"></ion-icon>
        </div>
        <span class="items">Change Password</span>
        <ion-icon
          name="caret-forward"
          style="margin: auto; font-size: 25px; color: #25214f"
        ></ion-icon>
      </div>

      <!-- <div
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        (click)="enableBiomterics()"
      >
        <div class="icon-container">
          <ion-icon name="finger-print-sharp" class="inner-icon"></ion-icon>
        </div>
        <span class="items">Biometric Login</span>
        <ion-toggle></ion-toggle>
      </div> -->

      <div
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        [routerLink]="['limit']"
      >
        <div class="icon-container">
          <ion-icon name="wallet-sharp" class="inner-icon"></ion-icon>
        </div>
        <span class="items">Increase Limit</span>
        <ion-icon
          name="caret-forward"
          style="margin: auto; font-size: 25px; color: #25214f"
        ></ion-icon>
      </div>

      <div
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        [routerLink]="['reset-pin']"
      >
        <div class="icon-container">
          <ion-icon name="settings-sharp" class="inner-icon"></ion-icon>
        </div>
        <span class="items">Reset/Change PIN</span>
        <ion-icon
          name="caret-forward"
          style="margin: auto; font-size: 25px; color: #25214f"
        ></ion-icon>
      </div>
    </section>
  </section>

  <!-- <section *ngIf="option ===2">
    <form [formGroup]="passwordForm">
      <div class="form-group row" style="padding: 5px">
        <label for="">Old Password</label>
        <input
          type="password"
          name="password"
          class="input"
          placeholder="1234567890"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">Amount</label>
        <input
          type="text"
          name="amount"
          class="input"
          placeholder="100000"
        />
      </div>
  </form>
  </section> -->

  <!-- <section *ngIf="option ===3">
    <form [formGroup]="passwordForm">
      <div class="form-group row" style="padding: 5px">
        <label for="">Old Password</label>
        <input
          type="password"
          name="password"
          class="input"
          placeholder="1234567890"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">Amount</label>
        <input
          type="text"
          name="amount"
          class="input"
          placeholder="100000"
        />
      </div>
  </form>
  </section> -->
</ion-content>
