<ion-content>
  <section style="margin-top: 30px; background-color: #25214f">
    <app-add-fund (exit)="close()" *ngIf="show"></app-add-fund>
    <app-loader *ngIf="loading"></app-loader>

    <section>
      <div
        style="
          padding: 20px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #25214f;
          color: #fff;
          padding: 20px 30px;
        "
      >
        <div style="border-radius: 50%; margin: 10px 0">
          <ion-img
            [src]="photo"
            style="width: 70px; height: 70px; margin: auto; border-radius: 50%"
            class="userImg"
          ></ion-img>
        </div>
        <span>{{ user.firstName }} {{ user.lastName }}</span>

        <ion-button id="details" size="small" (click)="show = true"
          >Show Details</ion-button
        >
      </div>
    </section>

    <section
      style="
        padding: 0 10px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        background-color: white;
        padding-top: 60px;
      "
    >
      <div class="inBoth" [routerLink]="['change-password']">
        <ion-icon name="lock-closed-sharp" class="inner-icon"></ion-icon>
        <span class="items">Change Password</span>
        <img
          style="width: 30px; height: 30px"
          src="assets/icon/ar.png"
          alt=""
        />
      </div>

      <div class="inBoth" [routerLink]="['limit']">
        <ion-icon name="wallet-sharp" class="inner-icon"></ion-icon>
        <span class="items">Increase Limit</span>
        <img
          style="width: 30px; height: 30px"
          src="assets/icon/ar.png"
          alt=""
        />
      </div>

      <div class="inBoth" [routerLink]="['request-card']">
        <ion-icon name="card" class="inner-icon"></ion-icon>
        <span class="items">Request For Card</span>
        <img
          style="width: 30px; height: 30px"
          src="assets/icon/ar.png"
          alt=""
        />
      </div>

      <div class="inBoth" [routerLink]="['reset-pin']">
        <ion-icon name="settings-sharp" class="inner-icon"></ion-icon>
        <span class="items">Reset/Change PIN</span>
        <img
          style="width: 30px; height: 30px"
          src="assets/icon/ar.png"
          alt=""
        />
      </div>

      <div
        class="inBoth"
        (click)="checkDoc()"
        *ngIf="user.accountType !== 'Royal Basic' && uploaded !== 'true'"
      >
        <ion-icon name="document-attach" class="inner-icon"></ion-icon>
        <span class="items">Uploaded Documents</span>
        <img
          style="width: 30px; height: 30px"
          src="assets/icon/ar.png"
          alt=""
        />
      </div>
    </section>
  </section>
  <div class="mod" *ngIf="view" (click)="viewDoc()">
    <div class="doc">
      <ion-icon
        (click)="viewDoc()"
        style="
          font-size: 30px;
          position: absolute;
          top: 10px;
          right: 10px;
          color: #25214f;
        "
        name="close-circle-outline"
      ></ion-icon>
      <div class="head">Uploaded Documents</div>
      <div class="document" *ngFor="let doc of documents">
        <ion-icon name="document-attach" class="icn"></ion-icon>
        <div style="display: flex; flex-direction: column; text-align: right">
          <div class="name">{{doc.name}}</div>
          <div class="name" style="font-size: 14px">{{doc.fileName}}</div>
        </div>
      </div>
      <!-- <div class="document">
        <ion-icon name="document-attach" class="icn"></ion-icon>
        <div class="name">{{documentName}}</div>
      </div> -->
    </div>
  </div>
</ion-content>
