<ion-content>
  <div style="padding: 70px;"></div>
<section
style="
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
"
>
<div *ngFor="let item of billCategories" class="icons-bg"  [routerLink]="[item.code]" routerLinkActive="router-link-active" >
  <ion-img
    src='{{"assets/icon/" + item.code + ".png" }}'
    class="icons"
  ></ion-img>
  <div>
    {{item.name}}
  </div>
</div>
<!-- <div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/internet.png"
    class="icons"
  ></ion-img>
  <div>
    Internet Service
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/health.png"
    class="icons"
  ></ion-img>
  <div>
    Insurance
  </div>
</div>

<div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/church.png"
    class="icons"
  ></ion-img>
  <div>
    church Payment
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/school.png"
    class="icons"
  ></ion-img>
  <div>
    School Fees
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/utility.png"
    class="icons"
  ></ion-img>
  <div>
    Utility
  </div>
</div> -->
<!-- </section>

<section
style="
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
"
> -->
<!-- <div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/data.png"
    class="icons"
  ></ion-img>
  <div>
    Airtime
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/tax.png"
    class="icons"
  ></ion-img>
  <div>
    Taxes
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/airline.png"
    class="icons"
  ></ion-img>
  <div>
    Airline
  </div>
</div> -->
</section>

</ion-content>
