.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.userImg {
  width: 50px;
  height: 50px;
}

.info {
  background-color: #25214f;
  height: 2rem;
  width: 100%;
  margin: 1rem;
}

.header {
  color: #25214f;
  font-size: 16px;
  font-weight: 800;
}

.card-items {
  padding: 10px;
}

ion-content {
  font-family: Mulish !important;
}

.icons {
  // font-size: 30px;
  height: 60px;
  // width: 40px;
  color: #25214f !important;
  margin-bottom: 3px !important;
}

.icons-bg {
  width: 43%;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  text-align: center;
  align-items: center !important;
  cursor: pointer;
  color: #25214f;
  border: 1px solid #dde3f7;
}
.name {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  text-align: left;
  color: #25214f;
  font-weight: 700px;
}
