<ion-content>
  <section style="background-color: #25214f">
    <div style="padding: 19px"></div>
    <app-loader *ngIf="loading"></app-loader>
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding-top: 40px;
      "
    >
      <div
        style="
          background-color: #d9ac0b;
          padding: 20px 30px;
          text-align: left;
          width: 100%;
          max-width: 400px;
          margin: auto;
          border-radius: 10px;
          color: #25214f;
        "
      >
        <div style="font-size: 15px">
          {{ user.accountType }} {{ user?.accountNos[0]?.accountNo }}
        </div>
        <div
          style="
            border: 1px solid #25214f;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
          "
        >
          <div>Balance:</div>
          <div style="font-size: 20px">
            {{ user?.accountNos[0]?.accountBalance | currency: "&#8358;" }}
          </div>
        </div>
      </div>
    </div>

    <section
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 0 22px;
        padding-top: 50px;
      "
    >
      <div style="text-align: left; margin: 20px 0">
        <div
          style="
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #25214f;
          "
        >
          Make a bill payment
        </div>
        <div
          style="
            font-weight: 400;
            font-size: 12px;
            line-height: 200%;
            color: #8b91a5;
          "
        >
          Select the type of bill you want to pay
        </div>
      </div>
      <div style="width: 90vw; display: flex; flex-wrap: wrap">
        <div
          *ngFor="let item of billCategories"
          class="icons-bg"
          [routerLink]="['products']"
          [queryParams]="{id: item.id}"
          routerLinkActive="router-link-active"
        >
          <div class="name">
            <div>{{item.name}}</div>
            <ion-img src="assets/icon/ar.png" style="width: 30px"></ion-img>
          </div>
          <ion-img
            src="{{'assets/icon/'+ item.code +'.svg'}}"
            class="icons"
          ></ion-img>
        </div>
      </div>
      <!-- <div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/internet.png"
    class="icons"
  ></ion-img>
  <div>
    Internet Service
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/health.png"
    class="icons"
  ></ion-img>
  <div>
    Insurance
  </div>
</div>

<div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/church.png"
    class="icons"
  ></ion-img>
  <div>
    church Payment
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/school.png"
    class="icons"
  ></ion-img>
  <div>
    School Fees
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/utility.png"
    class="icons"
  ></ion-img>
  <div>
    Utility
  </div>
</div> -->
      <!-- </section>

<section
style="
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
"
> -->
      <!-- <div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/data.png"
    class="icons"
  ></ion-img>
  <div>
    Airtime
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/tax.png"
    class="icons"
  ></ion-img>
  <div>
    Taxes
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/airline.png"
    class="icons"
  ></ion-img>
  <div>
    Airline
  </div>
</div> -->
    </section>
  </section>
</ion-content>
