<ion-content>
  <div style="height: 50px"></div>

  <section>
    <section>
      <div style="height: 20px"></div>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon
            name="arrow-back-outline"
            style="color: #676767; padding-top: 10px"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </section>

    <section class="row">
      <div style="border-radius: 8px; margin: 10px 4px">
        <div class="hassub" style="color: black; font-weight: 700">
          Setup your Royal Corporate Account
        </div>
      </div>
    </section>

    <section class="row">
      <form [formGroup]="accountForm">
        <div class="form-group row" style="padding: 5px">
          <label for="">Company Type</label>
          <input
            type="text"
            name="password"
            class="input"
            placeholder="ciroma.kelvin@gmail.com"
          />
        </div>
        <div class="form-group row" style="padding: 5px">
          <label for="">Company Name</label>
          <div class="phoneField">
            <input
              type="text"
              name="password"
              class="input"
              placeholder="8012345678"
            />
          </div>
        </div>
        <div class="form-group row" style="padding: 5px">
          <label class="label">RC Number</label>
          <div
            style="
              border: 0.800000011920929px solid #ced4da;
              border-radius: 3px;
              background-color: #ced4da;
              position: relative;
            "
          >
            <input
              type="text"
              placeholder="35363527262"
              id="text"
              name="password"
              required
              style="border: none"
              formArrayName="password"
              class="input"
            />
          </div>
        </div>

        <div class="form-group row" style="padding: 5px">
          <label class="label">Tax Identification Number (TIN)</label>
          <div
            style="
              border: 0.800000011920929px solid #ced4da;
              border-radius: 3px;
              background-color: #ced4da;
              position: relative;
            "
          >
            <input
              type="text"
              placeholder="235352"
              id="password"
              name="password"
              required
              style="border: none"
              formArrayName="password"
              class="input"
            />
          </div>
        </div>

        <div class="form-group row" style="margin-top: 10px">
          <label for="">Do you own up to 25% of the company shares?</label>

          <div
            style="
              display: flex;
              flex-direction: row;
              width: 200px;
              justify-content: left;
              padding: 10px;
              margin-left: -35px;
            "
          >
            <input type="radio" id="yes" name="shares" value="yes" />
            <label for="html">Yes</label>

            <input type="radio" id="no" name="shares" value="no" />
            <label for="css">No</label><br />
          </div>
        </div>

        <div class="form-group">
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="next()"
            routerLinkActive="router-link-active"
          >
            Next
          </ion-button>
        </div>
      </form>
    </section>
  </section>
</ion-content>
