<ion-content>
  <div style="height: 50px"></div>

  <section class="central-image">
    <ion-img [src]="imageSrc" class="img"></ion-img>
  </section>

  <section
    style="
      text-align: center;
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
    "
  >
    <section class="we" style="margin-top: 4rem">
      <span class="sub-title"
        >Hey there I&#39;m
        <span style="text-align: center; color: #25214f; font-weight: 800"
          >Ayo</span
        >, but my friends here call me A.Y. I am here to help you</span
      >
    </section>

    <section class="central-image" style="height: 100px; margin-top: -10px">
      <ion-img [src]="source" class="img"></ion-img>
      <span
        style="
          color: #676767;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          width: 200px;
          margin: auto;
        "
      >
        Get a bank account in less than 5 minutes
      </span>
    </section>
  </section>

  <section class="central-image row">
    <form [formGroup]="signupForm">
      <div class="form-group row" style="padding: 3px">
        <label for="" class="label">What type of account do you need?</label>
        <select class="input">
          <option value="brown" class="input">Tire 1</option>
          <option value="brown" class="input">Tire 2</option>
          <option value="brown" class="input">Tire 3</option>
        </select>
      </div>

      <div class="form-group">
        <ion-button
          class="btn"
          expand="block"
          style="margin-top: 1rem"
          (click)="next()"
          routerLinkActive="router-link-active"
        >
          Continue
        </ion-button>
      </div>
    </form>
  </section>
</ion-content>
