<app-loader *ngIf="loading"></app-loader>
<div
  *ngIf="!data || data.length === 0"
  style="background-color: #f8f8f8; border-radius: 8px"
>
  <ion-card-content>
    <span style="text-align: left; font-size: 13px"
      >No transactions today
    </span>
  </ion-card-content>
</div>
<div *ngIf="!loading">
  <div *ngFor="let trans of data" (click)="setTrans(trans)">
    <div class="tran" *ngIf="trans.transactionType !== 'Debit'">
      <div class="icon">
        <div class="img"><img src="assets/icon/credict.png" alt="" /></div>
        <div class="text">
          <div class="tit">
            {{ trans?.narration }}
          </div>
          <!-- <div class="mode">{{ trans?.submittedByUsername }}</div> -->
          <div class="mode">
            {{ trans.date | date }}
          </div>
          <div class="mode" style="font-size: 11px">
            {{ trans.date | date: "shortTime" }}
          </div>
        </div>
      </div>
      <div class="amount green">{{ trans.amount | currency: "&#8358;" }}</div>
    </div>
    <div class="tran" *ngIf="trans.transactionType === 'Debit'">
      <div class="icon">
        <div class="img"><img src="assets/icon/debit.png" alt="" /></div>
        <div class="text">
          <div class="tit">
            {{ trans?.narration }}
          </div>
          <!-- <div class="mode">{{ trans?.submittedByUsername }}</div> -->
          <div class="mode">
            {{ trans.date | date }}
          </div>
          <div class="mode" style="font-size: 11px">
            {{ trans.date | date: "shortTime" }}
          </div>
        </div>
      </div>
      <div class="amount red">-{{ trans.amount | currency: "&#8358;" }}</div>
    </div>
  </div>
</div>
<ion-content *ngIf="visible">
  <div
    class="mas"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <div class="overlay" (click)="setVissible()" [@slideInOut]></div>
    <div
      style="
        background-color: white;
        width: 100vw;
        height: 86vh;
        z-index: 1000;
        display: flex;
        flex-direction: column;
      "
      id="recipt"
      #recipt
      [@slideInOut]
    >
      <div class="head">
        <div
          (click)="setVissible()"
          style="
            color: white;
            font-size: 30px;
            position: absolute;
            left: 20px;
            top: 20px;
          "
        >
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
        <div
          (click)="getReciept()"
          style="
            color: white;
            font-size: 30px;
            position: absolute;
            left: 60px;
            top: 20px;
          "
          *ngIf="transType !== 'Credit'"
        >
          <ion-icon name="cloud-download-outline"></ion-icon>
        </div>
        <div class="date">
          {{ details?.transferDate | date }}
          {{ details?.transferDate | date: "shortTime" }}
        </div>
        <div class="card"><ion-icon name="card"></ion-icon></div>
        <div
          style="font-size: 12px; padding-top: 10px"
          *ngIf="details?.isRoyalTransfer"
        >
          Royal Transfer
        </div>
        <div
          style="font-size: 12px; padding-top: 10px"
          *ngIf="!details?.isRoyalTransfer"
        >
          Others
        </div>
        <div class="date">
          <span *ngIf="transType !== 'Credit'">-</span
          >{{ tran?.amount | currency: "&#8358;" }}
        </div>
      </div>
      <div class="bod">
        <table>
          <tbody>
            <tr>
              <th style="padding: 10px">From</th>
              <td style="padding: 10px">{{ details?.senderAcctName }}</td>
            </tr>
            <tr>
              <th style="padding: 10px">To</th>
              <td style="padding: 10px">{{ details?.receiverAcctName }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Account No.</th>
              <td style="padding: 10px">{{ details?.receiverAcctNo }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Bank Name</th>
              <td style="padding: 10px">{{ details?.bankName }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Naration</th>
              <td style="padding: 10px">
                {{ details?.transferDescription }}
              </td>
            </tr>

            <tr>
              <th style="padding: 10px">Transaction Type</th>
              <td style="padding: 10px">{{ transType }}</td>
            </tr>
            <!-- <tr>
              <th style="padding: 10px">Refrence</th>
              <td style="padding: 10px">{{ tran?.paymentDetailData.receiptNumber }}</td>
            </tr> -->
            <!-- <tr>
              <th style="padding: 10px">Receipt Number</th>
              <td style="padding: 10px">
                {{ tran?.paymentDetailData?.receiptNumber }}
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
