<ion-content class="content">
  <div style="height: 50px"></div>

  <section class="row">
    <div class="skip" (click)="skip()">Skip</div>
  </section>
  <section class="central-image">
    <ion-img [src]="source" class="img"></ion-img>
  </section>
  <section section style="padding-top: 2rem">
    <div class="title">{{ caption }}</div>
  </section>

  <section class="row">
    <p class="sub">
      {{ subtitle }}
    </p>
  </section>

  <section style="padding-bottom: 2rem; padding-top: 2rem">
    <ion-button class="btn" expand="block" (click)="next()"> Next </ion-button>
  </section>
</ion-content>
