<ion-content>
  <div style="padding: 20px"></div>
  <app-loader *ngIf="loading"></app-loader>
  <app-pin
    (close)="close()"
    (loading)="load()"
    (done)="finish()"
    *ngIf="show"
  ></app-pin>
  <section style="background-color: #25214f">
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding-top: 40px;
      "
    >
      <div
        style="
          background: linear-gradient(
            180deg,
            #ffe278 0%,
            rgba(255, 226, 120, 0.55) 100%
          );
          padding: 20px 30px;
          text-align: left;
          width: 100%;
          max-width: 400px;
          margin: auto;
          border-radius: 10px;
          color: #25214f;
        "
      >
        <div style="font-size: 15px">
          {{ user.accountType }} {{ user?.accountNos[0]?.accountNo }}
        </div>
        <div
          style="
            border: 1px solid #25214f;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
          "
        >
          <div>Balance:</div>
          <div style="font-size: 20px">
            {{ user?.accountNos[0]?.accountBalance | currency: "&#8358;" }}
          </div>
        </div>
      </div>
    </div>
    <section
      *ngIf="transType ===0"
      style="
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 20px;
        padding-top: 40px;
      "
    >
      <div
        class="row"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <ion-button
          (click)="toggleRequest(true)"
          [ngClass]="{active: selectedBtn === true}"
          style="width: 100%; --border-radius: none; color: #25214f"
        >
          New
        </ion-button>

        <ion-button
          (click)="toggleRequest(false)"
          [ngClass]="{active: selectedBtn1 === true}"
          style="width: 100%; --border-radius: none"
        >
          History
        </ion-button>
      </div>
      <form *ngIf="newReq">
        <div class="form-group row" style="padding: 5px">
          <label for="">Select Account</label>
          <select [(ngModel)]="account" name="account" id="" class="input">
            <option
              *ngFor="let data of user.accountNos"
              [value]="data.accountNo"
            >
              {{data.accountNo}} ({{data.accountBalance | currency: "&#8358;"}})
            </option>
          </select>
          <label for="">Loan Type</label>
          <select
            [(ngModel)]="productCode"
            name="productCode"
            id=""
            class="input"
          >
            <option
              *ngFor="let loan of loadTypes"
              [value]="loan.loanProductKey"
            >
              {{loan.loanProductName}}
            </option>
          </select>
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Loan Tenure</label>
          <select [(ngModel)]="tenure" name="tenure" id="" class="input">
            <option *ngFor="let ten of tenures" [value]="ten.value">
              {{ten.name}}
            </option>
          </select>
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Amount</label>
          <input
            [(ngModel)]="principal"
            type="number"
            name="principal"
            class="input"
            placeholder="100000"
          />
        </div>
        <div class="form-group row" style="padding: 5px">
          <label for="">Start Date</label>
          <input
            [(ngModel)]="date"
            type="date"
            name="date"
            style="width: 100%"
            class="input"
          />
        </div>
        <div class="form-group row" style="padding: 5px">
          <label for="">Comment</label>
          <input
            [(ngModel)]="comment"
            type="text"
            name="comment"
            class="input"
            placeholder=""
          />
        </div>

        <div class="form-group">
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="next()"
            routerLinkActive="router-link-active"
          >
            Apply
          </ion-button>
        </div>
      </form>

      <div *ngIf="!newReq" class="row">
        <section *ngIf="history.length === 0">
          <div
            style="
              background-color: #f8f8f8;
              border-radius: 8px;
              text-align: left;
              padding: 20px;
            "
          >
            No Record Available
          </div>
        </section>
        <section *ngIf="history.length > 0">
          <div
            style="
              background-color: #f8f8f8;
              border-radius: 8px;
              text-align: left;
              padding: 20px;
            "
            *ngFor="let data of history"
          >
            <table>
              <tr>
                <th>Status</th>
                <td>
                  <ion-button
                    *ngIf="data.status !== 'active'"
                    size="small"
                    style="--background: #ff5a5a; --color: #fff"
                    >Not Active</ion-button
                  ><ion-button
                    *ngIf="data.status === 'active'"
                    size="small"
                    style="--background: #46ae6a; --color: #fff"
                    >Active</ion-button
                  >
                </td>
              </tr>
              <tr>
                <th>Loan Type</th>
                <td>{{data.loanProductName}}</td>
              </tr>
              <tr>
                <th>Start Date</th>
                <td>{{data.startDate | date}}</td>
              </tr>
              <tr>
                <th>End Date</th>
                <td>{{data.endDate | date}}</td>
              </tr>

              <tr>
                <th>Intrest</th>
                <td>{{data.interest | currency: "&#8358;"}}</td>
              </tr>

              <tr>
                <th>Outstanding Intrest</th>
                <td>{{data.interestOutstanding | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Intrest Paid</th>
                <td>{{data.interestPaid | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Total Amount</th>
                <td>{{data.totalAmount | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Total Outstanding</th>
                <td>{{data.totalOutstanding | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Total Paid</th>
                <td>{{data.totalPaid | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Next Repayment Amount</th>
                <td>{{data.nextRepaymentAmount | currency: "&#8358;"}}</td>
              </tr>
              <tr>
                <th>Next Repayment Date</th>
                <td>{{data.nextRepaymentDate | date}}</td>
              </tr>
            </table>
            <ion-button
              *ngIf="data.status"
              size="small"
              style="--background: #fee178; --color: #25214f"
              (click)="repay(data.loanKey)"
              >View Repayment Schedule</ion-button
            >
          </div>
        </section>
      </div>
    </section>
    <section *ngIf="transType === 1" style="background-color: white">
      <div class="header" style="padding: 20px 0">Repayment Schedule</div>

      <div
        style="
          background-color: #f8f8f8;
          border-radius: 8px;
          text-align: left;
          padding: 20px;
          margin: 10px;
        "
        *ngFor="let data of schedules"
      >
        <table>
          <tr>
            <th>Repayment Date</th>
            <td>{{data.repaymentDate | date}}</td>
          </tr>
          <tr>
            <th>Principal Repayment</th>
            <td>{{data.principalRepayment | currency: "&#8358;"}}</td>
          </tr>
          <tr>
            <th>Intrest Repayment</th>
            <td>{{data.interestRepayment | currency: "&#8358;"}}</td>
          </tr>
          <tr>
            <th>Total Repayment</th>
            <td>{{data.totalRepayment | currency: "&#8358;"}}</td>
          </tr>
        </table>
      </div>

      <div class="form-group">
        <ion-button
          class="btn"
          expand="block"
          style="width: 300px; margin: 20px auto"
          (click)="show = true"
          routerLinkActive="router-link-active"
        >
          Apply
        </ion-button>
      </div>
    </section>

    <section *ngIf="transType === 3" style="background-color: white">
      <div class="header" style="padding: 20px 0">Repayment Schedule</div>

      <div
        style="
          background-color: #f8f8f8;
          border-radius: 8px;
          text-align: left;
          padding: 20px;
          margin: 10px;
        "
        *ngFor="let data of repaySchedules"
      >
        <table>
          <tr>
            <th>Paid</th>
            <td>
              <span *ngIf="data.isPaid === true">Yes</span>
              <span *ngIf="data.isPaid === false">No</span>
            </td>
          </tr>
          <tr>
            <th>Repayment Date</th>
            <td>{{data.repaymentDate | date}}</td>
          </tr>
          <tr>
            <th>Principal Repayment</th>
            <td>{{data.principalRepayment | currency: "&#8358;"}}</td>
          </tr>
          <tr>
            <th>Intrest Repayment</th>
            <td>{{data.interestRepayment | currency: "&#8358;"}}</td>
          </tr>
          <tr>
            <th>Total Repayment</th>
            <td>{{data.totalRepayment | currency: "&#8358;"}}</td>
          </tr>
        </table>
      </div>

      <div class="form-group">
        <ion-button
          class="btn"
          expand="block"
          style="width: 300px; margin: 20px auto"
          (click)="transType = 0"
          routerLinkActive="router-link-active"
        >
          Back
        </ion-button>
      </div>
    </section>

    <section
      *ngIf="transType ===7"
      style="
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 20px;
        padding-top: 40px;
      "
    >
      <form>
        <div class="form-group row" style="padding: 5px">
          <label for="">Document</label>
          <input type="file" name="document" class="custom-file-input" />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Comment</label>
          <textarea name="comment" class="input" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="transactionType(1)"
            routerLinkActive="router-link-active"
          >
            Apply
          </ion-button>
        </div>
      </form>
    </section>
  </section>
</ion-content>
