.my-custom-menu {
  --width: 500px;
}

ion-header {
  ion-toolbar {
    // set background color
    --background: #ffffff;
    // set icon/text color
    box-shadow: none !important;
    height: 100%;
  }
  ion-menu-button {
    color: #374957;
  }
}

.userImg {
  border-radius: 50% !important;
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
}
