<ion-content>
  <section style="background-color: #25214f">
    <app-add-fund (exit)="close()" *ngIf="show"></app-add-fund>
    <app-loader *ngIf="loading"></app-loader>
    <app-pin
      (close)="closePass()"
      (loading)="load()"
      (done)="finish()"
      *ngIf="pass"
    ></app-pin>

    <div style="height: 30px"></div>
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding: 20px 30px;
      "
    >
      <div style="border-radius: 50%; margin: 10px 0">
        <ion-img
          [src]="photo"
          style="width: 70px; height: 70px; margin: auto; border-radius: 50%"
          class="userImg"
        ></ion-img>
      </div>
      <span>{{ user.firstName }} {{ user.lastName }}</span>

      <ion-button id="details" size="small" (click)="show = true"
        >Show Details</ion-button
      >
    </div>
    <section
      style="
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 0 20px;
        padding-top: 50px;
      "
    >
      <div style="font-size: 25px; text-align: center; padding-bottom: 20px">
        Update Limit
      </div>
      <form>
        <div class="form-group row" style="padding: 5px">
          <label for="">Select Local Limit</label>
          <select
            [(ngModel)]="limitInter"
            [value]="limitInter"
            name="account"
            id=""
            [ngModelOptions]="{ standalone: true }"
            class="input"
          >
            <option value="500000">&#8358;500.000.00</option>
            <option value="1000000">&#8358;1,000.000.00</option>
            <option value="5000000">&#8358;5,000.000.00</option>
            <option value="10000000">&#8358;10,000.000.00</option>
            <option value="20000000">&#8358;20,000.000.00</option>
            <option value="50000">&#8358;50.000.00</option>
          </select>
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Select Intra Bank Limit</label>
          <select
            [(ngModel)]="limitIntra"
            [value]="limitIntra"
            name="account"
            id=""
            [ngModelOptions]="{ standalone: true }"
            class="input"
          >
            <option value="50000">&#8358;50.000.00</option>
            <option value="30000">&#8358;30.000.00</option>
            <option value="20000">&#8358;20.000.00</option>
            <option value="10000">&#8358;10.000.00</option>
          </select>
        </div>

        <!-- <div class="form-group row" style="padding: 5px">
          <label for="">New Password</label>
          <input
            type="password"
            name="newPassword"
            class="input"
            placeholder="Password"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Confirm New Password</label>
          <input
            type="password"
            name="confirmPassword"
            class="input"
            placeholder="Password"
          />
        </div> -->

        <ion-button
          class="btn2"
          style="
            width: 100%;
            max-width: 300px;
            margin: auto;
            margin-top: 20px;
            display: flex;
          "
          (click)="check()"
          >Update</ion-button
        >
      </form>
    </section>
  </section>
</ion-content>
