<section>
    <div>
      <div style="
      font-family: Mulish !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      margin: 1.5rem 0.5rem;">
        <span class="items">Foreign Currency</span>
        <ion-icon name="create"></ion-icon>
      </div>

      <div style="
      font-family: Mulish !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      margin: 1.5rem 0.5rem;">
        <span class="items">Foreign Currency</span>
        <ion-icon name="create"></ion-icon>
      </div>
    </div>

      <div style="
      font-family: Mulish !important;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      cursor: pointer;
      margin: 1.5rem 0.5rem;"
      [routerLink]="['reset-pin']">
        <div class="icon-container">
          <ion-icon name="settings-sharp" class="inner-icon"></ion-icon>
        </div>
        <span class="items">Airtime</span>
        <ion-icon name="caret-forward" style="margin:auto; font-size: 25px; color: #25214f;"></ion-icon>
        </div>

</section>
