<ion-content>
  <div style="height:100px"></div>

  <section *ngIf="transType === 0">

    <div style="
    font-family: Mulish !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    margin: 1.5rem 0.5rem;"
    (click)="transactionType(1)">
      <div class="icon-container">
        <!-- <ion-icon name="send" class="inner-icon"></ion-icon> -->
        <ion-icon name="caret-up-circle" class="inner-icon"></ion-icon>
      </div>
      <span style="margin: auto; font-size: 20px;">Send to Royal Bank</span>
      <ion-icon name="caret-forward" style="margin:auto; font-size: 20px; color: #25214f;"></ion-icon>
      </div>

      <div style="
    font-family: Mulish !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    margin: 1.5rem 0.5rem;"
    (click)="transactionType(2)">
      <div class="icon-container">
        <ion-icon name="people" class="inner-icon"></ion-icon>
      </div>
      <span style="margin: auto; font-size: 20px;">Send to other Banks</span>
      <ion-icon name="caret-forward" style="margin:auto; font-size: 20px; color: #25214f;"></ion-icon>
      </div>
  </section>

  <section *ngIf="transType ===1">
  <form [formGroup]="royalAccount">
          <div class="form-group row" style="padding: 5px">
            <label for="">Beneficiary</label>
            <input
              type="text"
              name="beneficiary"
              class="input"
              placeholder="1234567890"
            />
          </div>

          <div class="form-group row" style="padding: 5px">
            <label for="">Amount</label>
            <input
              type="text"
              name="amount"
              class="input"
              placeholder="100000"
            />
          </div>

          <div class="form-group row" style="padding: 5px">
            <label for="">Narration</label>
            <input
              type="text"
              name="narration"
              class="input"
              placeholder="1234567890"
            />
          </div>

          <div class="form-group">
            <a href="javascript: void(0)" (click)="transactionType(9)" style="text-align: left; color: #25214f; font-weight: 700; text-decoration: none">Choose Beneficiary</a>
          </div>

          <div class="form-group">
            <ion-button
              class="btn"
              expand="block"
              style="margin-top: 1rem"
              (click)="next()"
              routerLinkActive="router-link-active"
            >
              Transfer
            </ion-button>
          </div>
        </form>
  </section>

  <section *ngIf="transType ===2">
    <form [formGroup]="othersAccount">
            <div class="form-group row" style="padding: 5px">
              <label for="">Beneficiary</label>
              <input
                type="text"
                name="beneficiary"
                class="input"
                placeholder="1234567890"
              />
            </div>

            <div class="form-group row" style="padding: 5px">
              <label for="">Bank</label>
              <select name="bank" id="" class="input">
                <option value="1">Access</option>
                <option value="1">GTB</option>
                <option value="1">UBA</option>
              </select>
            </div>

            <div class="form-group row" style="padding: 5px">
              <label for="">Amount</label>
              <input
                type="text"
                name="amount"
                class="input"
                placeholder="100000"
              />
            </div>

            <div class="form-group row" style="padding: 5px">
              <label for="">Narration</label>
              <input
                type="text"
                name="narration"
                class="input"
                placeholder="1234567890"
              />
            </div>

            <div class="form-group">
              <a href="javascript: void(0)" (click)="transactionType(9)" style="text-align: left; color: #25214f; font-weight: 700; text-decoration: none">Choose Beneficiary</a>
            </div>

            <div class="form-group">
              <ion-button
                class="btn"
                expand="block"
                style="margin-top: 1rem"
                (click)="next()"
                routerLinkActive="router-link-active"
              >
                Transfer
              </ion-button>
            </div>
          </form>
    </section>

    <section *ngIf="transType ===3">
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
          "
        >
          <div>
            <span style="text-align: center; font-size: 25px; font-weight: 500;">Transfer Successful</span>
            <section class="central-image" style="height: 200px">
              <ion-img [src]="imageSrc" class="img"></ion-img>
            </section>

          </div>

          <section
            style="
              display: flex;
              flex-direction: column;
              align-content: space-between;
            "
          >
            <ion-button class="btn" expand="block" (click)="create()">
              Go To Dashboard
            </ion-button>
          </section>
        </div>
    </section>


    <section *ngIf="transType ===9">
      <form [formGroup]="othersAccount">
        <div class="form-group row" style="padding: 5px">
          <label for="">Search Beneficiary</label>
          <input
            type="text"
            class="input"
            placeholder="Search.."
            name="search"
          />
          <ion-icon name="search" style="margin-top: -34px; margin-left: 7px;"></ion-icon>
        </div>

        <div class="row-one">
          <span style="text-align: left;">No beneficiary found</span>
        </div>

      </form>

      <ion-card>

      </ion-card>
    </section>

</ion-content>
