<ion-content>
  <section>
    <form [formGroup]="pinResetForm">
      <div class="form-group row" style="padding: 5px">
        <label for="">Old PIN</label>
        <input
          type="password"
          name="oldPin"
          class="input"
          placeholder="PIN"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">New PIN</label>
        <input
          type="password"
          name="newPin"
          class="input"
          placeholder="PIN"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">Confirm New PIN</label>
        <input
          type="password"
          name="confirmPin"
          class="input"
          placeholder="PIN"
        />
      </div>
  </form>
  </section>

</ion-content>
