<ion-content>
  <div style="padding: 70px;"></div>
<section
style="
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
"
>
<div class="icons-bg"  [routerLink]="['cabletv']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/cable-tv.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Cable TV
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/internet.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Internet Service
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/health.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Insurance
  </div>
</div>
</section>
<section
style="
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
"
>
<div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/church.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    church Payment
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/school.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    School Fees
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/utility.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Utility
  </div>
</div>
</section>

<section
style="
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
"
>
<div class="icons-bg"  [routerLink]="['transfer']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/data.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Airtime
  </div>
</div>
<div class="icons-bg"  [routerLink]="['addfund']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/tax.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Taxes
  </div>
</div>
<div class="icons-bg"  [routerLink]="['borrow']" routerLinkActive="router-link-active" >
  <ion-img
    src="assets/icon/airline.png"
    class="icons"
  ></ion-img>
  <div style="font-size: 13px; text-align: center; cursor: pointer;">
    Airline
  </div>
</div>
</section>

</ion-content>
