<ion-content>
  <div style="height: 150px"></div>
  <app-balance></app-balance>

  <section
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 50px;
    "
  >
    <div
      style="cursor: pointer"
      [routerLink]="['transfer']"
      routerLinkActive="router-link-active"
    >
      <ion-img
        src="assets/icon/transfer.png"
        style="width: 55px; height: 55px"
      ></ion-img>
      <div
        style="
          font-size: 13px;
          padding-top: 5px;
          text-align: center;
          cursor: pointer;
        "
      >
        Transfer
      </div>
    </div>
    <div
      style="cursor: pointer"
      [routerLink]="['addfund']"
      routerLinkActive="router-link-active"
    >
      <ion-img
        src="assets/icon/save.png"
        style="width: 55px; height: 55px"
      ></ion-img>
      <div
        style="
          font-size: 13px;
          padding-top: 5px;
          text-align: center;
          cursor: pointer;
        "
      >
        Save
      </div>
    </div>
    <div
      style="cursor: pointer"
      [routerLink]="['borrow']"
      routerLinkActive="router-link-active"
    >
      <ion-img
        src="assets/icon/borrow.png"
        style="width: 55px; height: 55px"
      ></ion-img>
      <div
        style="
          font-size: 13px;
          padding-top: 5px;
          text-align: center;
          cursor: pointer;
        "
      >
        Borrow
      </div>
    </div>
    <div
      style="cursor: pointer"
      [routerLink]="['addfund']"
      routerLinkActive="router-link-active"
    >
      <ion-img
        src="assets/icon/money.png"
        style="width: 55px; height: 55px; margin: auto"
      ></ion-img>
      <div
        style="
          font-size: 13px;
          padding-top: 5px;
          text-align: center;
          cursor: pointer;
        "
      >
        Add Money
      </div>
    </div>
  </section>
  <app-transaction-history></app-transaction-history>

  <!-- <section style="margin-top: 50px">
    <div
      style="
        color: #d9ac0b;
        font-size: 20px;
        margin-top: 15px;
        padding-bottom: 15px;
        font-weight: 500;
      "
    >
      Your account is limied
    </div>
  </section> -->

  <section style="margin-top: 10px;">
    <div style="background-color: #f8f8f8; border-radius: 8px">
      <ion-card-header class="header">Increase your limit</ion-card-header>
      <ion-card-content
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        "
      >
        <span style="font-size: 13px"
          >This account is perfect for Individuals, Students, Freelancers,
        </span>
        <ion-img
          src="assets/icon/upward-arrow.png"
          style="width: 34px; height: 34px"
        ></ion-img>
      </ion-card-content>
    </div>
  </section>

  <section style="margin-top: 10px;">
    <div style="background-color: #f8f8f8; border-radius: 8px">
      <ion-card-header class="header">Request a Royal Bank Card</ion-card-header>
      <ion-card-content
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        "
      >
        <span style="font-size: 13px"
          >We will send you your Royal Bank Card
          where ever you are for FREE
        </span>
        <ion-img
          src="assets/icon/card.png"
          style="width: 34px; height: 34px"
        ></ion-img>
      </ion-card-content>
    </div>
  </section>

  <section>
    <section style="margin-top: 10px">
      <div
        style="
          color: #25214f;
          font-size: 18px;
          padding-bottom: 15px;
          font-weight: 700;
        "
      >
        Your transactions
      </div>
    </section>

    <div style="background-color: #f8f8f8; border-radius: 8px">
      <ion-card-content>
        <span style="text-align: left; font-size: 13px"
          >No transactions today
        </span>
      </ion-card-content>
    </div>

    <div style="background-color: #f8f8f8; border-radius: 8px; margin-top: 5px;  padding: 10px 5px;">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        "
      >
      <div style="height: 35px; width: 35px; border-radius: 50%; background-color: #FFC8C8; padding: 10px;">
        <ion-icon name="arrow-up-sharp"></ion-icon>
      </div>

      <div style="font-size: 12px; display: flex; flex-direction: column; text-align: left;">
        <span style="font-weight: 600;"
          >Ogungbenro Philip - 0141944727
        </span>
        <span style="font-size: 10px;"
          >GTB - 0141944727
        </span>
        <span style="font-size: 10px;"
          >05/04/2022
        </span>
      </div>

        <span style="color: #FF5A5A; font-size: 12px;">
          - &#8358; 60000
        </span>

      </div>
    </div>

    <div style="background-color: #f8f8f8; border-radius: 5px; margin-top: 5px; padding: 10px 5px;">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        "
      >
      <div style="height: 35px; width: 35px; border-radius: 50%; background-color: #E0FEEA; padding: 10px;">
        <ion-icon name="arrow-down-sharp"></ion-icon>
      </div>

      <div style="font-size: 12px; display: flex; flex-direction: column;">
        <span style="-weight: 600;"
          >Ogungbenro Philip - 0141944727
        </span>
        <span style="font-size: 10px;">GTB - 0141944727
        </span>
        <span style="font-size: 10px;">08/04/2022
        </span>
      </div>

        <span style="color: #46AE6A; font-size: 12px;">
          - &#8358; 160000
        </span>

      </div>
    </div>

  </section>
</ion-content>
