.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  row-gap: 30px;

}

.pin-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.pin-box {
  border: 2px solid #25214f;
  background:#EBEEF9;
  border-radius: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding-left: 10px !important;
}


.keypad {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 10%;
  row-gap: 10px;
}

.keys {
  background:#EBEEF9;
  width: 26%;
  height: 66px;
  font-size: 16px;
  font-weight: 900 !important;
  margin: 0 auto;
  text-align: center;
  padding: 5px;

}


ion-button {
  --background: #fff
  --background-activated: #25214f;
  --color: #25214f;
  --color-activateded:#d9ac0b;
  font-size: 20px;
  font-weight: 900 !important;
}
