<ion-content>
  <section style="background-color: #25214f">
    <div style="height: 70px"></div>
    <app-loader *ngIf="loading"></app-loader>
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding-top: 30px;
      "
    >
      <div
        style="
          background-color: #d9ac0b;
          padding: 20px 30px;
          text-align: left;
          width: 100%;
          max-width: 400px;
          margin: auto;
          border-radius: 10px;
          color: #25214f;
        "
      >
        <div style="font-size: 26px">
          {{ user?.accountNos[0]?.accountBalance | currency: "&#8358;" }}
        </div>
        <div style="font-size: 15px">
          {{ user.accountType }} {{ user?.accountNos[0]?.accountNo }}
        </div>
      </div>
    </div>
    <app-pin
      (close)="close()"
      (loading)="load()"
      (done)="finish()"
      *ngIf="show"
    ></app-pin>
    <section
      *ngIf="transType === 0"
      style="
        margin-top: 10px;
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 0 20px;
        padding-top: 50px;
      "
    >
      <div *ngIf="!loading" style="font-size: 20px; text-align: left">Data</div>
      <div
        *ngFor="let data of subs"
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        (click)="transactionType(2, data.code)"
      >
        <div class="icon-container">
          <!-- <ion-icon name="send" class="inner-icon"></ion-icon> -->
          <ion-icon name="phone-portrait" class="inner-icon"></ion-icon>
        </div>
        <span
          style="
            margin: auto;
            text-align: left;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
          "
          >{{ data.name }}</span
        >
        <ion-icon
          name="caret-forward"
          style="margin: auto; font-size: 20px; color: #25214f"
        ></ion-icon>
      </div>
      <div *ngIf="!loading" style="font-size: 20px; text-align: left">
        Airtime
      </div>

      <div
        *ngFor="let data of vars"
        style="
          font-family: Mulish !important;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          margin: 1.5rem 0.5rem;
        "
        (click)="transactionType(2, data.code)"
      >
        <div class="icon-container">
          <!-- <ion-icon name="send" class="inner-icon"></ion-icon> -->
          <ion-icon name="phone-portrait" class="inner-icon"></ion-icon>
        </div>
        <span
          style="
            margin: auto;
            text-align: left;
            padding-left: 20px;
            font-size: 20px;
            width: 100%;
          "
          >{{ data.name }}</span
        >
        <ion-icon
          name="caret-forward"
          style="margin: auto; font-size: 20px; color: #25214f"
        ></ion-icon>
      </div>
    </section>

    <section
      *ngIf="transType === 2"
      style="
        margin-top: 10px;
        background-color: white;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        padding: 0 20px;
        padding-top: 50px;
      "
    >
      <div
        class="row"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 30px;
        "
      >
        <ion-button
          (click)="toggleRequest(true)"
          [ngClass]="{ active: selectedBtn === true }"
          style="width: 100%; --border-radius: none"
        >
          New
        </ion-button>

        <ion-button
          (click)="toggleRequest(false)"
          size="medium"
          [ngClass]="{ active: selectedBtn1 === true }"
          style="width: 100%; --border-radius: none"
        >
          Beneficiary
        </ion-button>
      </div>

      <div *ngIf="newReq">
        <div class="form-group row" style="padding: 5px">
          <label for="">Select Account</label>
          <select [(ngModel)]="accNum" name="account" id="" class="input">
            <option
              *ngFor="let data of user.accountNos"
              [value]="data.accountNo"
            >
              {{ data.accountNo }} ({{
                data.accountBalance | currency: "&#8358;"
              }})
            </option>
          </select>
        </div>
        <div class="form-group row" style="padding: 5px">
          <label for="">Phone Number</label>
          <input
            [(ngModel)]="phoneNumber"
            type="text"
            name="mobile"
            class="input"
            placeholder="08079172267"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Select Bundle</label>
          <select [(ngModel)]="productCode" name="bank" id="" class="input">
            <!-- <option value="">-- Select Type --</option> -->
            <option *ngFor="let data of products" [value]="data.productCode">
              {{ data.productTitle }} ({{
                data.productPrice | currency: "&#8358;"
              }})
            </option>
          </select>
        </div>

        <div class="form-group">
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="check()"
          >
            Send
          </ion-button>
        </div>
      </div>

      <div *ngIf="!newReq">
        <div
          (click)="new()"
          style="
            margin: 20px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          Add <ion-icon name="add"></ion-icon>
        </div>
        <div *ngIf="add">
          <input
            type="text"
            class="input"
            placeholder="name"
            name="name"
            style="margin-bottom: 10px"
            [(ngModel)]="name"
          />
          <input
            type="text"
            class="input"
            placeholder="Number"
            name="number"
            [(ngModel)]="benNum"
          />
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="adds()"
          >
            Add
          </ion-button>
        </div>

        <div class="row-one">
          <span style="text-align: left" *ngIf="benes.length === 0"
            >No beneficiary found</span
          >
          <div
            style="
              background-color: #f8f8f8;
              border-radius: 8px;
              margin-top: 5px;
            "
            *ngFor="let data of benes"
          >
            <ion-card-content style="display: flex; flex-direction: row">
              <ion-icon
                name="trash"
                style="
                  margin-right: 10px;
                  font-size: 25px;
                  color: #25214f;
                  width: 10%;
                "
                (click)="delete(data.phoneNumber)"
              ></ion-icon>
              <div
                style="
                  font-size: 13px;
                  display: flex;
                  flex-direction: column;
                  width: 80%;
                "
              >
                <span style="text-align: left; font-weight: 800"
                  >{{ data.name }}
                </span>
                <span style="text-align: left">{{ data.phoneNumber }} </span>
              </div>
              <ion-icon
                (click)="use(data.phoneNumber)"
                name="caret-forward"
                style="
                  margin: auto;
                  font-size: 30px;
                  color: #25214f;
                  width: 10%;
                "
              ></ion-icon>
            </ion-card-content>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="transType === 9">
      <ion-card> </ion-card>
    </section>
  </section>
</ion-content>
