ion-header {
  ion-toolbar {
    // set background color
    --background: #25214f;
    // set icon/text color
    box-shadow: none !important;
    height: 100%;
  }
  ion-menu-button {
    color: white;
  }
}
