.overlay {
  position: fixed;
  width: 100vh;
  height: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5) !important;
  z-index: 99;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  row-gap: 30px;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-top: 20px;
  width: 100vw;
}
.title {
  font-size: 20px;
}


.table {
  font-size: 13px;
  text-align: left;
  max-width: 700px;
  margin: auto;
  td, th {
    padding: 10px 0;
    padding-left: 10px;
  }
}


ion-button {
  --background: #fff
  --background-activated: #25214f;
  --color: #25214f;
  --color-activateded:#d9ac0b;
  font-size: 20px;
  font-weight: 900 !important;
}

