<ion-content class="content">
  <section class="row">
    <!-- <ion-thumbnail>
      <ion-img [src]="source" class="img"></ion-img>
    </ion-thumbnail> -->
  </section>
  <section class="central-image">
    <ion-img [src]="source" class="img"></ion-img>
  </section>

  <section style="text-align: center">
    <section section style="padding-top: 2rem">
      <h2 class="title">{{ caption }}</h2>
    </section>

    <section class="row">
      <p class="sub-title">
        {{ subtitle }}
      </p>
    </section>
  </section>

  <section
    style="display: flex; flex-direction: column; align-content: space-between"
  >
    <ion-button class="btn" expand="block" [href]="buttonActionOne">
      {{ buttonTextOne }}
    </ion-button>

    <ion-button
      class="btn2"
      expand="block"
      style="margin-top: 1rem"
      [href]="buttonActionTwo"
    >
      {{ buttonTextTwo }}
    </ion-button>
  </section>
</ion-content>
