<ion-content>
  <section style="background-color: #25214f">
    <app-add-fund (exit)="close()" *ngIf="show"></app-add-fund>
    <app-loader *ngIf="loading"></app-loader>
    <app-pin
      (close)="closePass()"
      (loading)="load()"
      (done)="finish()"
      *ngIf="pass"
    ></app-pin>

    <div style="height: 30px"></div>
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding: 20px 30px;
      "
    >
      <div style="border-radius: 50%; margin: 10px 0">
        <ion-img
          [src]="photo"
          style="width: 70px; height: 70px; margin: auto; border-radius: 50%"
          class="userImg"
        ></ion-img>
      </div>
      <span>{{ user.firstName }} {{ user.lastName }}</span>

      <ion-button id="details" size="small" (click)="show = true"
        >Show Details</ion-button
      >
    </div>
    <section
      style="
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 0 20px;
        padding-top: 50px;
      "
    >
      <div style="font-size: 25px; text-align: center; padding-bottom: 20px">
        Change Password
      </div>
      <form>
        <div class="form-group row" style="padding: 5px">
          <label for="">Old Password</label>
          <input
            type="password"
            name="oldPassword"
            class="input"
            placeholder="Old Password"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">New Password</label>
          <input
            type="password"
            name="newPassword"
            class="input"
            placeholder="New Password"
            [(ngModel)]="passwordNew"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Confirm New Password</label>
          <input
            type="password"
            name="confirmPassword"
            class="input"
            placeholder="Confirm New Password"
            [(ngModel)]="passwordConfirm"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <ion-button
          style="
            width: 100%;
            max-width: 300px;
            margin: auto;
            margin-top: 20px;
            display: flex;
          "
          (click)="display()"
          >Update</ion-button
        >
      </form>
    </section>
  </section>
</ion-content>
