<ion-content>
  <section>
    <form [formGroup]="passwordResetForm">
      <div class="form-group row" style="padding: 5px">
        <label for="">Old Password</label>
        <input
          type="password"
          name="oldPassword"
          class="input"
          placeholder="Password"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">New Password</label>
        <input
          type="password"
          name="newPassword"
          class="input"
          placeholder="Password"
        />
      </div>

      <div class="form-group row" style="padding: 5px">
        <label for="">Confirm New Password</label>
        <input
          type="password"
          name="confirmPassword"
          class="input"
          placeholder="Password"
        />
      </div>
  </form>
  </section>

</ion-content>
