<ion-content class="content">
  <div style="height: 50px"></div>

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      padding-bottom: 80px;
    "
  >
    <div>
      <section class="central-image" style="height: 100px">
        <ion-img [src]="source1" class="img"></ion-img>
      </section>

      <section class="central-image" style="height: 200px">
        <ion-img [src]="imageSrc" class="img"></ion-img>
      </section>

      <section class="central-image">
        <div class="tit">Hello Kelvin</div>
      </section>
      <section style="text-align: center; margin-top: 20px">
        <div class="subTit">
          Your
          <span style="color: #25214f; font-weight: 800">ROYAL BASIC BANK</span>
          account was successfully created.
        </div>
      </section>
    </div>

    <section
      style="
        display: flex;
        flex-direction: column;
        align-content: space-between;
      "
    >
      <ion-button class="btn" expand="block" (click)="create()">
        Go To Dashboard
      </ion-button>
    </section>
  </div>
</ion-content>
