<ion-content>
  <section class="central-image">
    <ion-img [src]="imageSrc" class="img"></ion-img>
  </section>

  <section style="text-align: center; margin-top: -80px">
    <section section style="padding-top: 2rem">
      <h2 class="title" style="font-family: Mulish !important">
        Hey, Welcome back
      </h2>
    </section>

    <section class="row">
      <p class="sub-title" style="font-family: Mulish !important">
        Sign In to continue
      </p>
    </section>
  </section>
  <form [formGroup]="loginForm">
    <div class="form-group row">
      <label class="label" style="font-family: Mulish !important"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
        id="email"
        required
        formControlName="email"
      />
    </div>

    <div class="form-group row">
      <label class="label" style="font-family: Mulish !important"
        >Password</label
      >
      <div
        style="
          border: 0.800000011920929px solid #ced4da;
          border-radius: 3px;
          background-color: #b6b6b6;
          position: relative;
        "
      >
        <input
          [type]="show ? 'text' : 'password'"
          placeholder="Password"
          id="password"
          name="password"
          required
          style="border: none"
          formControlName="password"
        />
        <ion-icon
          (click)="viewpassword()"
          *ngIf="!show"
          icon="eye-off-outline"
          style="
            font-size: 32px;
            color: #676767;
            cursor: pointer;
            background-color: transparent;
            position: absolute;
            right: 20px;
            top: 10px;
          "
        ></ion-icon>
        <ion-icon
          (click)="viewpassword()"
          *ngIf="show"
          icon="eye-outline"
          style="
            font-size: 32px;
            color: #676767;
            cursor: pointer;
            background-color: transparent;
            position: absolute;
            right: 20px;
            top: 10px;
          "
        ></ion-icon>
      </div>
    </div>

    <!-- <div class="form-group row">
      <app-show-hide-password>
        <input type="password" placeholder="Password" formControlName="password">
    </app-show-hide-password>
    </div> -->
    <div
      style="
        color: #d9ac0b;
        font-weight: 700;
        margin: 10px 0;
        text-align: right;
        width: 89vw;
      "
      (click)="checkCredential()"
    >
      Login with Biometrics
    </div>
    <div class="form-group">
      <ion-button
        class="btn"
        expand="block"
        style="margin-top: 1rem"
        (click)="login()"
        style="font-family: Mulish !important"
      >
        Sign In
      </ion-button>
      <app-loader *ngIf="loading"></app-loader>
    </div>

    <div
      style="
        margin: 15px 0;
        font-size: 14px;
        color: #676767;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      "
    >
      <span
        >Don't have an account?
        <span
          style="color: #d9ac0b; font-weight: 700; margin-top: 20px"
          (click)="register()"
          >Sign Up</span
        ></span
      >
      <span
        style="color: #25214f; font-weight: 700; margin-top: 10px"
        (click)="forgot()"
        >Forgot Password</span
      >
    </div>
  </form>
</ion-content>
