<ion-content>
  <app-loader *ngIf="loading"></app-loader>
  <section style="background-color: #25214f">
    <div
      style="
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #25214f;
        color: #fff;
        padding-top: 40px;
        margin-top: 40px;
      "
    >
      <div
        style="
          background-color: #d9ac0b;
          padding: 20px 30px;
          text-align: left;
          width: 100%;
          max-width: 400px;
          margin: auto;
          border-radius: 10px;
          color: #25214f;
        "
      >
        <div style="font-size: 15px">
          {{ user.accountType }} {{ user?.accountNos[0]?.accountNo }}
        </div>
        <div
          style="
            border: 1px solid #25214f;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
          "
        >
          <div>Balance:</div>
          <div style="font-size: 20px">
            {{ user?.accountNos[0]?.accountBalance | currency: "&#8358;" }}
          </div>
        </div>
      </div>
    </div>
    <section
      style="
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 20px;
        padding-top: 40px;
      "
    >
      <form>
        <div class="form-group row" style="padding: 5px">
          <label for="">Select Account</label>
          <select [(ngModel)]="account" name="account" id="" class="input">
            <option
              *ngFor="let data of user.accountNos"
              [value]="data.accountNo"
            >
              {{ data.accountNo }} ({{
                data.accountBalance | currency: "&#8358;"
              }})
            </option>
          </select>
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Start Date</label>
          <input
            type="date"
            name="startDate"
            class="input"
            placeholder="100000"
            [(ngModel)]="startDate"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">End Date</label>
          <input
            type="date"
            name="endDate"
            class="input"
            placeholder="100000"
            [(ngModel)]="endDate"
          />
        </div>

        <div class="form-group row" style="padding: 5px">
          <label for="">Transaction Type</label>
          <select [(ngModel)]="typeId" name="transactionType" class="input">
            <option *ngFor="let data of types" [value]="data.id">
              {{ data.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <ion-button
            class="btn"
            expand="block"
            style="margin-top: 1rem"
            (click)="fetchHistory()"
            routerLinkActive="router-link-active"
          >
            View History
          </ion-button>
        </div>
      </form>
    </section>

    <section style="background-color: white; padding: 0 5%">
      <ion-card-header style="text-align: left"
        >Your transactions</ion-card-header
      >

      <div
        *ngIf="data.length < 1"
        style="background-color: #f8f8f8; border-radius: 8px"
      >
        <ion-card-content>
          <span style="text-align: left; font-size: 13px"
            >No transactions found
          </span>
        </ion-card-content>
      </div>
      <div *ngFor="let trans of data" (click)="setTrans(trans)">
        <div class="tra" *ngIf="trans.transactionType !== 'Debit'">
          <div class="ico">
            <div class="im"><img src="assets/icon/credict.png" alt="" /></div>
            <div class="tex">
              <div class="ti">
                {{ trans?.narration }}
              </div>
              <div class="mod">{{ trans?.submittedByUsername }}</div>
              <div class="mod">
                {{ trans.date | date }}
              </div>
              <div class="mod" style="font-size: 11px">
                {{ trans.date | date: "shortTime" }}
              </div>
            </div>
          </div>
          <div class="amount green">
            {{ trans.amount | currency: "&#8358;" }}
          </div>
        </div>
        <div class="tra" *ngIf="trans.transactionType === 'Debit'">
          <div class="ico" style="text-align: left">
            <div class="im"><img src="assets/icon/debit.png" alt="" /></div>
            <div class="tex">
              <div class="ti">
                {{ trans?.receiverName }}
              </div>
              <div class="mod">{{ trans?.submittedByUsername }}</div>
              <div class="mod">
                {{ trans.date | date }}
              </div>
              <div class="mod" style="font-size: 11px">
                {{ trans.date | date: "shortTime" }}
              </div>
            </div>
          </div>
          <div class="amount red">
            -{{ trans.amount | currency: "&#8358;" }}
          </div>
        </div>
      </div>
    </section>
  </section>
</ion-content>
<ion-content *ngIf="visible">
  <div
    class="mas"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <div class="overlay" (click)="setVissible()" [@slideInOut]></div>
    <div
      style="
        background-color: white;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: flex;
        flex-direction: column;
      "
      [@slideInOut]
    >
      <div class="head">
        <div
          (click)="setVissible()"
          style="
            color: white;
            font-size: 30px;
            position: absolute;
            left: 20px;
            top: 70px;
          "
        >
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
        <div class="date">
          {{ details?.transferDate | date }}
          {{ details?.transferDate | date: "shortTime" }}
        </div>
        <div class="card"><ion-icon name="card"></ion-icon></div>
        <div
          style="font-size: 12px; padding-top: 10px"
          *ngIf="details?.isRoyalTransfer"
        >
          Royal Transfer
        </div>
        <div
          style="font-size: 12px; padding-top: 10px"
          *ngIf="!details?.isRoyalTransfer"
        >
          Others
        </div>
        <div class="date">
          <span *ngIf="tranType !== 'Credit'">-</span
          >{{ tran?.amount | currency: "&#8358;" }}
        </div>
      </div>
      <div class="bod">
        <table>
          <tbody>
            <tr>
              <th style="padding: 10px">From</th>
              <td style="padding: 10px">{{ details?.senderAcctName }}</td>
            </tr>
            <tr>
              <th style="padding: 10px">To</th>
              <td style="padding: 10px">{{ details?.receiverAcctName }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Account No.</th>
              <td style="padding: 10px">{{ details?.receiverAcctNo }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Bank Name</th>
              <td style="padding: 10px">{{ details?.bankName }}</td>
            </tr>

            <tr>
              <th style="padding: 10px">Naration</th>
              <td style="padding: 10px">
                {{ details?.transferDescription }}
              </td>
            </tr>

            <tr>
              <th style="padding: 10px">Transaction Type</th>
              <td style="padding: 10px">{{ tranType }}</td>
            </tr>
            <!-- <tr>
              <th style="padding: 10px">Refrence</th>
              <td style="padding: 10px">{{ tran?.paymentDetailData.receiptNumber }}</td>
            </tr> -->
            <!-- <tr>
              <th style="padding: 10px">Receipt Number</th>
              <td style="padding: 10px">
                {{ tran?.paymentDetailData?.receiptNumber }}
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
